<!-- 
    This file is part of the Caplan software tool.
    
    Copyright (C) 2021 Tyler Golden
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.
    
    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Individual Schedule PoC</title>
</head>

<body>
    <h1>Individual Schedule Proof of Concept</h1>
    <h2>Username</h2>
    <div id="timeline" style="height: 350px; min-width: 2800px;"></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        function drawChart() {
            var container = document.getElementById('timeline');
            var chart = new google.visualization.Timeline(container);
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn({
                type: 'string',
                id: 'Project'
            });
            dataTable.addColumn({
                type: 'string',
                id: 'Event Name'
            });
            dataTable.addColumn({ type: 'string', role: 'style' });
            dataTable.addColumn({ type: 'string', role: 'tooltip' });
            dataTable.addColumn({
                type: 'date',
                id: 'Start'
            });
            dataTable.addColumn({
                type: 'date',
                id: 'End'
            });
            dataTable.addRows([
                {{#each loadBlocks}}
                  ['{{this.groupName}}', '{{this.blockTitle}}', '{{this.style}}', '{{this.tooltip}}', new Date('{{this.startDate}}'), new Date('{{this.endDate}}')],
                {{/each}}
                {{#each projectBlocks}}
                  ['{{this.groupName}}', '{{this.blockTitle}}', '{{this.style}}', '{{this.tooltip}}', new Date('{{this.startDate}}'), new Date('{{this.endDate}}')],
                {{/each}}
            ]);
            var options = {
                timeline: {
                    colorByRowLabel: true
                }
            };
            chart.draw(dataTable, options);
        }
        google.load('visualization', '1', {packages:['timeline'], callback: drawChart});
    </script>
</body>
</html>